{% extends "base.html" %} {% block title %} {{ agent.first_name }} {{
agent.last_name }} {% endblock title %} {% block content %}

<section class="lead-detail">
  <h2 class="page-title">{{ agent.first_name }}'s Details</h2>
  <a href="{% url 'agents:agent-list' %}">Back to Agents</a>

  <div class="lead-mgt">
    <a href="{% url 'agents:agent-update' lead.pk%}">Update Agent</a>
    <a href="{% url 'agents:agent-delete' lead.pk%}">Delete Agent</a>
  </div>
  <div class="details">
    <p>{{ agent.first_name }} {{ agent.last_name }}</p>
    <p>{{ agent.email }}</p>
    <p>{{ agent.date_joined }}</p>
  </div>
</section>

{% endblock content %}
