{% extends "base.html" %} {% load static %} {% block title %} Home {% endblock title %} {% block content %}

<section class="landing-area">

    <div class="landing-content">

        <h1 class="welcome-title">Welcome to CIMPLY</h1>
        <img src="{% static 'images/crm-front.png' %}" alt="">
        <p class="welcome-txt">Cimply Customer Relationship Management System gets your business organised and gives you a good overview of your organisation's leads and agents. It is designed to provide the best User Experience and easy to use interface to get you and your
            business ahead. </p>
        <a href="{% url 'pages:signup' %}">Get started</a>

    </div>

</section>
{% endblock content %}