{% extends "base.html" %} {% block title %} Leads {% endblock title %} {% block content %}

<section class="list">
    <h2 class="page-title">Leads</h2>
    {% if request.user.is_organizer %}
    <a href="{% url 'leads:lead-create' %}">Add a Lead</a> {% endif %}

    <div class="leads">
        {% for lead in leads %}
        <p>
            <a href="{% url 'leads:lead-detail' lead.pk %}" class="lead">{{ lead.first_name }} {{ lead.last_name }}</a>
        </p>
        {% endfor %}
    </div>
</section>

{% endblock content %}