<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {% comment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> {% endcomment %}
    <title>CRM | {% block title %} {% endblock title %}</title>
</head>

<body>
    {% comment %} {% include "navbar.html" %} {% endcomment %} {% block content %} {% endblock content %}
</body>

</html>